@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: hsl(235, 18%, 26%);
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
}

.news-letter-text {
    width: 835px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: hsl(0, 0%, 100%);
    border-radius: 20px;
    box-shadow: 0px 0px 30px 25px rgba(0, 0, 0, .09);
}

.info {
    width: 400px;
    padding: 0 20px;
}

.info h1 {
    font-size: 3.5rem;
    color: hsl(234, 29%, 20%);
}

.info p {
    margin: 20px 0;
}

.info ul {
    line-height: 35px;
    margin: 20px 0;
}

.info li {
    list-style-image: url(images/icon-list.svg);
    padding-left: 10px;
    margin-left: 25px;
}

.info label {
    display: inline-block;
    font-family: Roboto, sans-serif;
    font-size: 0.75rem;
    color: hsl(234, 29%, 20%);
    font-weight: 700;
}

.span-fail {
    position: relative;
    left: 150px;
    font-size: small;
    font-weight: 700;
    color: hsl(4, 100%, 67%);
    display: none;
}






.info .email-input {
    cursor: pointer;
    width: 100%;
    padding: 15px;
    font-size: 1rem;
    outline: none;
    border-radius: 10px;
    border: 1px solid hsl(231, 7%, 60%);
    margin: 15px 0;
    
}

.input-fail {
    border: 1px solid #FF6257;
    background-color: rgba(255, 98, 87, .4);
}

.info button {
    cursor: pointer;
    width: 100%;
    padding: 15px 10px;
    background-color: hsl(234, 29%, 20%);
    color: white;
    border-radius: 10px;
    border: none;
    font-weight: 700;
    font-size: 0.938rem;
    transition: ease .3s;    
}

.info button:hover {
    background-image: linear-gradient(to right, #FF578F, #FF6257 50%);
    box-shadow: 0px 8px 5px 2px rgba(255, 99, 71, 0.25);
}

.image img {
    width: 100%;
}


.success-card{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.success-container{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    width: 500px;
    height: 500px;
    background-color: white;
    border: none;
    border-radius: 30px;
    padding: 50px;
}

.success-container img {
    width: 60px;
}

.success-container span {
    font-weight: 700;
}

.success-container h1{
    font-size: 3rem;
    color: hsl(234, 29%, 20%);

}

.success-container p{
    color: hsl(234, 29%, 20%);
    font-size: .95rem;
    line-height: 25px;
}

.success-container button{
    font-family: Roboto, sans-serif;
    font-size: .875rem;
    padding: 16px 0;
    border-radius: 10px;
    outline: none;
    border: none;
    background: hsl(234, 29%, 20%);;
    color: white;
    font-weight: 700;
    cursor: pointer;
    
}


.success-container button:hover{
    transition: ease .3s;
    background-image: linear-gradient(to right, #FF578F, #FF6257 50%);
    box-shadow: 0px 8px 5px 2px rgba(255, 99, 71, 0.25);
}


.d-none{
    display: none;
}


.d-inline{
   display: inline;
}





@media (max-width:900px) {

    .news-letter-text {
        flex-direction: column;
        width: 500px;
        padding: 0 0 15px 0;
    }


    .image {
        order: 1;
        width: 100%;
    }

    .info {
        order: 2;
    }

    .info h1 {
        font-size: 2.5rem;

    }

    .info p {
        font-size: 1rem;

    }

    .info li {
        font-size: 1rem;

    }

  
}


@media (max-width:520px) {


    .news-letter-text {
       border-radius: 0;
        height: 100vh;
        
    }


    .success-container{
        border-radius: 0;
        height: 100vh;
        
    }
   
}